html {
  font-family: 'Lato', sans-serif;
}
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 20px 15px;
    align-items: center;
    text-align: center;
  }

  .header-title {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 24px;
  }

  nav {
    width: 100%;
  }

  nav ul {
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    flex-wrap: wrap; 
  }

  nav li {
    margin: 5px 10px;
    width: auto;
    text-align: center;
  }

  .header-link {
    display: inline-block;
    width: auto;
    font-size: 18px;
  }
}


/* Media queries */
/* 
@media (min-width: 769px) {
  header {
    height: 70px;
    font-size: 36px;
  }

  .header-title {
    font-size: 27px;
  }

  .header-link {
    font-size: 24px;
  }

  nav li {
    margin: 0 15px;
  }
}

@media (min-width: 901px) {
  header {
    font-size: 48px;
    height: 100px; 
  }
} 
*/


header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center;
  padding: 0px 45px; 
  text-align: left;
  border-bottom: 2px solid #ddd;
}


.header-title {
  font-size: 27px; 
  margin: 0 15px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
}


.header-link {
  font-size: 24px; /* adjust the size of the header links */
  font-weight: 100; /* change font weight */
  text-decoration: none; /* remove the underline from the links */
  color: black; /* change the color of the links */
}

nav li {
  margin: 0 15px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  margin-top: 100px;
  width: 100%;
}

img {
  width: 400px;
  height: auto;
  display: block;
  margin: auto;

}

.img + .img {
  margin-top: 50px;
}

.img + .tripReport figure {
  margin-top: 50px;
}

.tripReport figure + .img {
  margin-top: 50px;
}

.tripReport figure + .tripReport figure {
  margin-top: 50px; 
}

.external-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.external-links a {
  margin: 0 10px;
  text-decoration: none; 
  color: black; 
}


/* WRITING LANDING PAGE */


.columns-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.column-left,
.column-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 20px;
}


/* ESSAY AND STORY PAGE */
.essay {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: justify;
  text-justify: inter-character;
  justify-content: space-between;
  width: 50%; /* from 68 to 50 */
  line-height: 1.5;
}

.essayTitle {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: bold;
}


.essay figure {
  margin: 0;
  margin-bottom: 20px;
}

.essay figcaption {
  font-style: italic;
  text-align: left;
  margin-left: 0;
}
/* image stuff only applied to trip reports */
.essay img {
  width: 100%
}

h2 {
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
  text-align: left;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: black;
  text-decoration: none;
}

.a-body {
  color: black;
  text-decoration: underline;
}

.widget-container {
  margin-top: 75px;
  margin-right: 10px;
}

.footer-content {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.bmc-button {
  /* Add your custom styles here */
  font-size: 14px;
  padding: 8px 16px;
}

/* TRIPS LANDING PAGE */

.t-column {
  flex: 1;
  padding: 10px;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  text-align: left;
}

.t-column-left {
  display: flex;
  order: 1;
  margin-right: 20px;
}

.t-column-center {
  display: flex;
  order: 2;
}

.t-column-right {
  display: flex;
  order: 3;
  margin-left: 20px;
}

/* TRIP REPORT */

.tripReport {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: justify;
  text-justify: inter-character;
  justify-content: space-between;
  width: 50%;
  line-height: 1.5;
}

.tripReport p {
  text-align: justify;
  text-justify: inter-character;
  line-height: 1.5;
}

.tripTitle {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: bold;
}

.tripReport figure {
  margin: 0;
  margin-bottom: 20px;
}

.tripReport figcaption {
  font-style: italic;
  text-align: left;
  margin-left: 0;
}
/* image stuff only applied to trip reports */
.tripReport img {
  width: 100%
}


/* IFRAME SHITE */
.video-container {
  text-align: center;
}

.video-container iframe {
  padding-top: 40px;
  padding-bottom: 40px;
  display: inline-block;
}

/* CREATION PAGES */

.creation {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: justify;
  text-justify: inter-character;
  justify-content: space-between;
  width: 50%;
  line-height: 1.5;
}

.creation p {
  text-align: justify;
  text-justify: inter-character;
  line-height: 1.5;
}

.creationTitle {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: bold;
}

.creation figure {
  margin: 0;
  margin-bottom: 20px;
}

.creation figcaption {
  font-style: italic;
  text-align: left;
  margin-left: 0;
}
/* image stuff only applied to creation pages */
.creation img {
  width: 100%
}

/* Notes section */
.notes-section {
  text-align: left;
}

.notes-section p {
  text-align: left;
  text-justify: none;
}

/* New styles for notes section links */
.notes-section a {
  color: blue;
  text-decoration: underline;
}

/* Block Quote */
.block-quote {
  width: 90%;
  margin: 0 auto;
  padding: 15px;
  background-color: #f9f9f9;
  border-left: 5px solid #ccc;
  font-style: italic;
  color: #333;
}

/* Adjust the block quote width for larger screens */
@media (min-width: 768px) {
  .block-quote {
    width: 80%;
  }
}

.essay-sub-title {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

/* Scroll margin for anchor links */
[id] {
  scroll-margin-top: 150px; /* Adjust this value as needed */
}

/* If you want to target only specific elements (like footnotes) */
[id^="note-"] {
  scroll-margin-top: 150px;
}

/* Add this new rule to your CSS file */
.essay a[href^="#ref-"] {
  color: blue;
  text-decoration: underline;
}