html {
    font-family: 'Crimson Pro', serif;
  }

header {
    background-color: white;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
  }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
	margin: 0 10px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

img {
	max-width: 100%;
}

.external-links {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.external-links a {
	margin: 0 10px;
}

/* Media queries */

/* For screens smaller than 600px */
@media (max-width: 600px) {
	header {
		font-size: 24px;
	}

	nav li {
		margin: 0 5px;
	}
}

/* For screens between 600px and 900px */
@media (min-width: 600px) and (max-width: 900px) {
	header {
		font-size: 36px;
	}

	nav li {
		margin: 0 10px;
	}
}

/* For screens larger than 900px */
@media (min-width: 900px) {
	header {
		font-size: 48px;
	}
}
